html, body{
    background-color: #001238;
    padding: 0;
    margin: 0;
    height: 100%;
    overflow-x: hidden; /* Adicionado para garantir que nenhuma barra de rolagem horizontal apareça no body */
    scroll-behavior: smooth;
    font-family: "Roboto", sans-serif;

}

::-webkit-scrollbar {
    width: 10px; /* Largura da barra de rolagem vertical */
    height: 8px; /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-track {
    background: #000000eb; /* Cor de fundo do trilho */
    border-radius: 1px; /* Borda arredondada para o trilho */
}

::-webkit-scrollbar-thumb {
    background: #c56a00;; /* Cor da barra de rolagem (o "arrastável") */
    border-radius: 10px; /* Borda arredondada para o polegar */
}

::-webkit-scrollbar-thumb:hover {
    background: #c56a00;; /* Cor da barra de rolagem ao passar o mouse */
}

::-webkit-scrollbar-corner {
    background: #ffffff; /* Cor do canto */
}



.banner-top{
    width: 100vw;
    height: 180px;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display:grid;
    }

    .banner-top h1, h2 {
        text-align: center;
        margin: 0;
        align-items: center;
        font-family: "Cinzel", serif;
        color: #8e008e;
    }

    .banner-top h1{
        margin-top: 40px;
    }

.menu{
    width: 100vw;
    height: 35px;
    margin-top: 10px;
    padding: 0;
    background-color: #ffffff;
    align-content: center;
    text-align: center;
        
}

.menu a{
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    font-family: Andale Mono, monospace;
    color: #001238;
}

.menu a:hover{
    color: #c56a00;
}

.box-content{
    width: 100vw;
    height: calc(100vh - 180px - 35px - 10px);
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    gap: 10px;
    padding: 20px;
    box-sizing: border-box; /* Garante que padding e borda sejam incluídos na largura/altura total */
    overflow-x: hidden; /* Garante que o conteúdo que extrapola o box-content horizontalmente seja escondido */

    
}

.menu-content{
    height: 100%; 
    width: 15vw;
    background-color: #000000;
    font-family: Andale Mono, monospace;
/* flex-basis: 15%; define a largura base inicial, sem overflow */
    flex: 0 0 15vw; /* Não cresce, não encolhe, base de 10vw */
    flex-shrink: 0; /* Impede que essas divs encolham */
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
    border-radius: 5%;
}

.menu-content h1{
    margin-top: 50px;
    font-size: 25px;
    text-align: center;
    font-family: "Cinzel", serif;
    justify-content: center;
    color: #c56a00;
    background-image: url(paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.menu-content p {
    margin: 0;
    padding: 1.5%;
    background-color: transparent;
    transition: all 0.3s ease;
}

.menu-content p:hover{
    background-color: #c56a00;

}

.menu-content a{
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
 
}

.menu-content a:hover{
    color: #000000;
}

.content{
    height: 100%; 
    background-image: url(paper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    align-items: center;
    align-content: center;
    text-align: center;
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    clip-path: polygon(0% 100%, 100% 100%, 100% 0%, 4% 0%, 0% 15%);

}

.content::before {
    position: absolute;
    top: 0;
    left: 0;    
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); /* Preto com 40% de opacidade */
    z-index: -1; /* Coloca o overlay atrás do conteúdo */
}

.content table {
    background-color: #f4f3ebd4;
    color: rgb(0, 0, 0);
    z-index: 2; /* Garante que o conteúdo textual esteja acima do overlay */
    width: 80%; 
    border: 1px solid black;
    border-collapse: collapse;
    justify-content: center;
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
}

.content table tr{
    background-color: transparent;
}

.content table tr:hover{
    background-color: #ffffff;
}

.content h1{
    margin-top: 100px;
    text-align: center;
    font-family: "Cinzel", serif;
    background-color: #001238;
    color: #ffffff;
    padding: 10px;
}

caption{
    margin-top: 50px;
    margin-bottom: 0;
    padding: 5px 15px;
    text-align: center;
    font-weight: bold;
    font-size: large;
    font-family: "Montserrat", sans-serif;
    background-color: #c56a00;
    color: rgb(255, 255, 255); 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.content table tr, td, th {
    border: 1px solid black;
    padding: 8px; 
    font-family: "Roboto", sans-serif;
}

.content th{
    font-weight: bold;
    font-size: 16px;
    background-color: #001238;
    color: #ffffff;
    
}

.content p{
    font-size: 17px;
    text-align: justify;
    margin: 3%;
}

.OBS{
    margin-top: 20px;
    background-color: yellow;
    display: inline-block;    
    font-weight: bold;
    padding: 5px;
    border: 1px dashed black;
}

.content a{
    padding: 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    
}

.content a:hover{
    color: rgb(2, 112, 43);
}


.resume-content{
    position: relative;
    width: 20vw;
    height: 100%; 
    background-color: rgba(49, 2, 91, 0.474);
    background-position: center;
    background-size: cover;
    flex: 0 0 20%;
    flex-shrink: 0; /* Impede que essas divs encolham */
    overflow-y: auto;
    font-family: "Roboto", sans-serif;
    border-radius: 5%;
}

.resume-content div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* Todas as imagens começam invisíveis */
    animation: fade-in-out 15s infinite; /* Duração total da animação (ex: 15s = 5s por imagem) */
    transition: opacity 1s ease-in-out;
}

.resume-content .imagem-1{
    background-image: url(Agosto-lilas.png);
    animation-delay: 0s; /* Começa imediatamente */
}

.resume-content .imagem-2{
    background-image: url(AGOSTO\ LILAS\ 2.png);
    animation-delay: 5s; /* Começa após 5 segundos */
}

.resume-content .imagem-3{
    background-image: url(AGOSTO\ LILÁS\ 3.png);
    animation-delay: 10s; /* Começa após 10 segundos */
}

@keyframes fade-in-out {
    0% { opacity: 0; }
    10% { opacity: 1; } /* A imagem aparece */
    30% { opacity: 1; } /* A imagem permanece visível */
    43% { opacity: 0; } /* A imagem começa a sumir */
    100% { opacity: 0; }
}